[submodule "backend/backend"]
    path = backend/backend
    url = https://github.com/OsWebPress/backend.git
[submodule "frontend/press"]
    path = frontend/press
    url = https://github.com/OsWebPress/press.git
[submodule "root"]
    path = root
    url = https://github.com/OsWebPress/starterRoot.git