services:
  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    pull_policy: never
    image: press-backend:${VERSION}
    container_name: be-${PROJECT_NAME}
    volumes:
      - "./root:/app/root"
    depends_on:
      - database
    restart: unless-stopped
  database:
    image: postgres:17
    container_name: db-pg-${PROJECT_NAME}
    volumes:
      - pgdata:/var/lib/postgresql/data
    environment:
      POSTGRES_USER: dbuser
      POSTGRES_PASSWORD: ${PG_KEY}
      POSTGRES_DB: vault_db
    restart: unless-stopped
  frontend:
    build:
      context: ./frontend
      # dockerfile: frontend/Dockerfile
    pull_policy: never
    image: press-frontend:${VERSION}
    container_name: fe-${PROJECT_NAME}
    ports:
      - "${HOST_PORT}:80"
    depends_on:
      - backend
    restart: unless-stopped

volumes:
  pgdata:
