services:
  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    pull_policy: never
    image: press-backend:${BE_VERSION}
    container_name: backend-rust-${PROJECT_NAME}
    volumes:
      - "./root:/app/root"
    depends_on:
      - database
    restart: unless-stopped
  database:
    image: postgres:17
    container_name: database-postgres-${PROJECT_NAME}
    volumes:
      - pgdata:/var/lib/postgresql/data
    environment:
      POSTGRES_USER: ${PG_USER}
      POSTGRES_PASSWORD: ${PG_KEY}
      POSTGRES_DB: ${PG_DB}
    restart: unless-stopped
  frontend:
    build:
      context: ./frontend
      # dockerfile: frontend/Dockerfile
    pull_policy: never
    image: press-frontend:${FE_VERSION}
    container_name: frontend-vue-${PROJECT_NAME}
    volumes:
      - "${FRONTEND_CONFIG}:/usr/share/nginx/html/config.json"
    ports:
      - "${HOST_PORT}:80"
    depends_on:
      - backend
    restart: unless-stopped

volumes:
  pgdata:
